In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.datasets import load_boston, load_iris
from sklearn.linear_model import LinearRegression,Ridge,SGDRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.neural_network import MLPRegressor 
from sklearn.preprocessing import MinMaxScaler, StandardScaler

import mglearn
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

import warnings
warnings.simplefilter('ignore')

In [3]:
df = pd.read_csv('data4/total_grade.csv')
df.columns =['q1','q2','mtot','ftot','finalscore']
df

      q1     q2       mtot    ftot  finalscore
0  828.0  920.0  1234567.0  1020.0      1111.0
1  824.0  910.0  2345612.0  1090.0      1234.0
2  880.0  900.0  3456123.0  1010.0      1000.0
3  870.0  990.0  2312123.0  1001.0      1122.0
4  860.0  980.0  3223123.0  1008.0      1133.0
5  850.0  970.0  2432123.0  1100.0      1221.0

In [4]:
x_data = df.iloc[:,:-1]
y_data = df.iloc[:,-1]

In [5]:
modelDF = LinearRegression()
modelDF.fit(x_data, y_data)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [6]:
print("R2", modelDF.score(x_data,y_data))

R2 0.9697933202479309

In [7]:
scaleX = StandardScaler()
x_dataS = scaleX.fit_transform( x_data )

In [8]:
x_dataS

array([[-1.16737998, -0.69560834, -1.76073586, -0.44667255],
       [-1.36194331, -0.97385168, -0.21556406,  1.27445103],
       [ 1.36194331, -1.25209502,  1.32886509, -0.69254734],
       [ 0.87553499,  1.25209502, -0.26213846, -0.91383466],
       [ 0.38912666,  0.97385168,  1.00482328, -0.7417223 ],
       [-0.09728167,  0.69560834, -0.09524998,  1.52032583]])

In [11]:
modelSGD = SGDRegressor(
                loss='squared_loss',   
                alpha=0.0001,  
                max_iter=100, 
                early_stopping=True,   
                verbose=0, 
                    )
modelSGD.fit( x_data, y_data )
print( modelSGD.score( x_dataS, y_data) )

-5.5453765627217595e+26

MLPRegressor

In [25]:
modelNN = MLPRegressor( 
                        hidden_layer_sizes=(100,10),  
                        solver='adam',  
                        alpha=0.1,  
                        max_iter=5000,  
                        verbose=0,  
                        )
modelNN.fit( x_train, y_train )
print( modelNN.score( x_train, y_train ) )
print( modelNN.score(x_test, y_test) )

0.9999945064320379
-11.108053669658846